* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes pop-in { 
    0% { transform: scale(0); } 100% { transform: scale(1); } }

body {
    background-color: $main-bg-color;
    color: $main-text-color;

    font-family: $default-family;
    font-size: 16px;
}

a { 
    display: block; 
    color: black; 
    // text-decoration: none;

    margin: lrem 0; 
}

#app h2 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: rgba(121, 120, 120, 0.5);
}

.add {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#name {
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
}

#join {
    background-color:rgba(207, 31, 31, 0.698);
    border: none; 
    padding: 10px 20px;  
    border-radius: 5px;
    outline: none; 
    color: #fff;
    font-size: 18px;
}

.wrapper input {
    margin-top: 30px;
}

.wrapper a {
    text-decoration: none;
    display: block;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    margin-top: 85px;
    transition: 0.5s linear;
}

.wrapper a:hover {
    background-color: black;
}

.message-wrapper {
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.50rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 5rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
}

.message-wrapper textarea {
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem;
    font-size: 15px;
}

.message-wrapper input {
    background: #333; 
    border: none; 
    padding: 0 2rem; 
    margin: 0.25rem; 
    border-radius: 3px;
    outline: none; 
    color: #fff;
    font-size: 18px;
}

#notify {
    position: absolute;
    bottom: 80px;
}

.new-message {
    padding: 10px;
    background-color: rgba(153, 82, 246, 0.801);
    transform: scale(0);  
    animation: pop-in 0.5s forwards;
    color: white;
    border-radius: 8px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    clear: both;
}

.my-message {
    background-color: rgb(19, 187, 19);
    transform: scale(0);  
    animation: pop-in 0.5s forwards;
    margin-right: 15px;
    margin-top: 20px;
    float: right;
}

@media only screen and (max-width: 1500px) {

    .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(121, 120, 120, 0.5);
    }


}

